In [1]:
import os, sys
sys.path.append('..')
import common, sql
import pandas as pd

In [11]:
q='''select distinct v.id, severity, CVSS3_severity from npmAlert nA
    join vulnerability v on nA.vulnerabilityId = v.id
    where toolId=5
    and cveId is not null;'''
df=sql.pd_read_sql(q)
df.loc[(df.severity=='low'),'severity']=1
df.loc[(df.severity=='moderate'),'severity']=2
df.loc[(df.severity=='high'),'severity']=3
df.loc[(df.severity=='critical'),'severity']=4
df.loc[df['CVSS3_severity']=='MEDIUM','CVSS3_severity']=2
df.loc[df['CVSS3_severity']=='HIGH','CVSS3_severity']=3
df.loc[df['CVSS3_severity']=='CRITICAL','CVSS3_severity']=4
df = df[df['CVSS3_severity'].notna()]
df

      id severity CVSS3_severity
0    151        1              2
1    143        1              2
2    141        3              2
3    137        1              4
4    153        2              3
5    145        2              2
6   1208        1              2
7    155        3              3
8    207        1              2
9    973        1              2
10   209        2              2
11   213        3              3
13   211        2              3
14   215        1              3
15   208        2              2
16   210        3              3
17   216        3              3
18   214        3              3
19   227        3              4
20   238        2              2
21   224        3              3
22   274        3              4
23   241        3              4
24   223        3              3
25   276        4              3
26   282        2              3
27   287        4              4
28   281        4              4
29   283        2              3
30   728        3              4

In [16]:
df['d'] = df['CVSS3_severity'] - df.severity
df

      id severity CVSS3_severity diff   d
0    151        1              2    1   1
1    143        1              2    1   1
2    141        3              2   -1  -1
3    137        1              4    3   3
4    153        2              3    1   1
5    145        2              2    0   0
6   1208        1              2    1   1
7    155        3              3    0   0
8    207        1              2    1   1
9    973        1              2    1   1
10   209        2              2    0   0
11   213        3              3    0   0
13   211        2              3    1   1
14   215        1              3    2   2
15   208        2              2    0   0
16   210        3              3    0   0
17   216        3              3    0   0
18   214        3              3    0   0
19   227        3              4    1   1
20   238        2              2    0   0
21   224        3              3    0   0
22   274        3              4    1   1
23   241        3              4    1   1
24   223        3              3    0   0
25   276        4              3   -1  -1
26   282        2              3    1   1
27   287        4              4    0   0
28   281        4              4    0   0
29   283        2              3    1   1
30   728        3              4    1   1

In [17]:
df.d.median()

0.5

In [22]:
dfs = df.groupby('d')
for name, group in dfs:
    print(name, len(group))

-1 2
0 13
1 13
2 1
3 1

In [27]:
q='''select distinct v.id, severity, CVSS2_severity, CVSS3_severity from npmAlert nA
join vulnerability v on nA.vulnerabilityId = v.id
where toolId=3
and cveId is not null
union
select distinct v.id, severity, CVSS2_severity, CVSS3_severity from mavenAlert nA
join vulnerability v on nA.vulnerabilityId = v.id
where toolId=3
and cveId is not null;'''
df=sql.pd_read_sql(q)
df.loc[(df.severity=='LOW'),'severity']=1
df.loc[(df.severity=='MODERATE'),'severity']=2
df.loc[(df.severity=='HIGH'),'severity']=3
df.loc[(df.severity=='CRITICAL'),'severity']=4
df.loc[df['CVSS3_severity']=='LOW','CVSS3_severity']=1
df.loc[df['CVSS3_severity']=='MEDIUM','CVSS3_severity']=2
df.loc[df['CVSS3_severity']=='HIGH','CVSS3_severity']=3
df.loc[df['CVSS3_severity']=='CRITICAL','CVSS3_severity']=4
df = df[df['CVSS3_severity'].notna()]
df

      id severity CVSS2_severity CVSS3_severity
0    283        2         MEDIUM              3
1    153        2         MEDIUM              3
2   1056        3         MEDIUM              3
3   1057        3         MEDIUM              3
4    155        3         MEDIUM              3
..   ...      ...            ...            ...
85    98        4           HIGH              4
86    99        3         MEDIUM              3
87    34        3         MEDIUM              3
88   310        2         MEDIUM              2
89   309        3         MEDIUM              2

[86 rows x 4 columns]

In [28]:
df['d'] = df['CVSS3_severity'] - df.severity
dfs = df.groupby('d')
for name, group in dfs:
    print(name, len(group))

-1 2
0 30
1 42
2 12